# Environment (prod or local)
APP_ENV=local

# Debug mode set to TRUE disables view caching and enables higher verbosity.
DEBUG=true

# Set to an application specific value, used to encrypt/decrypt cookies etc.
ENCRYPTER_KEY=def000003f47c1bb39cf6d8b96a4ab6198df982d06e9123e2de36933bae0d603cd3cec838fdd31fc7c768a43872b72c920dac5365fb631d6cfd51e500d812372b7c9f70a

# Set to TRUE to disable confirmation in `migrate` commands.
SAFE_MIGRATIONS=true

# Queue
QUEUE_CONNECTION=sync

# Monolog
MONOLOG_DEFAULT_CHANNEL=default
# DEBUG, INFO, NOTICE, WARNING, ERROR, CRITICAL, ALERT, EMERGENCY
MONOLOG_DEFAULT_LEVEL=DEBUG

# Cache
CACHE_STORAGE=local

# Session
SESSION_LIFETIME=86400
SESSION_COOKIE=sid

# Mailer
MAILER_DSN=smtp://mailhog:1025
MAILER_PIPELINE=local
MAILER_FROM="Alex Novikov <alex@podlodka.localhost>"

# Storage
STORAGE_DEFAULT=default

# Cycle Bridge
CYCLE_SCHEMA_CACHE=true
CYCLE_SCHEMA_WARMUP=false
S3_REGION=us-east1
S3_BUCKET=podlodka
S3_PREFIX=uploads
S3_ENDPOINT=http://minio:9000

PDF_ENDPOINT=http://gotenberg:3000

# change to debug if want to test xdebug
#XDEBUG_MODE=debug
XDEBUG_MODE=off
PHP_IDE_CONFIG=serverName=podlodka
